@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

Sesja => @ViewBag.ValSession
<br />
<br />
Cookie => @ViewBag.ValCookie
<br />
<br />
Cache => @ViewBag.ValCache